body{
	background-color: #F55EBE;
    padding:0;
    margin:50px auto;
    text-align:center;
    font:100% Verdana;
 }

 

 a{
 	font-size: 250%;
 	color: #FFFFFF;
 }

img{
	margin-left: auto;
    margin-right: auto
}
 